.success {
  color: green;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: green;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  border-color: red;
}
